@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../../../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Slab", serif;
    src: url("../../../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../../../assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto Slab", serif;
    src: url("../../../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

p,
input,
button,
label,
a,
span {
    font-family: "Roboto", sans-serif;
}

body {
    line-height: 1.6rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
    transition: all 0.8s;
}

html {
    scroll-behavior: smooth;
}

main {
    background-color: $black;
    background-image: url("../../../assets/images/background.png");
    background-size: cover;
    color: #fff;
}

.align-center {
    text-align: center;
}
